@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rancho&display=swap");

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    font-family: "Rancho", cursive;
    /* background: rgb(208, 255, 252);
    background: linear-gradient(
        270deg,
        rgba(208, 255, 252, 1) 0%,
        rgba(230, 252, 225, 1) 9%,
        rgba(255, 221, 252, 1) 41%,
        rgba(215, 254, 243, 1) 56%,
        rgba(248, 230, 244, 1) 65%
    ); */
    background: rgb(255, 234, 253);
    background: radial-gradient(
        circle,
        rgba(255, 234, 253, 1) 8%,
        rgba(248, 230, 244, 1) 49%,
        rgba(208, 255, 252, 1) 86%,
        rgba(230, 252, 225, 1) 100%
    );
}

h1 {
    color: #fad3f7;
    font-size: 4rem;
}

h1 img {
    height: 70px;
}

h2 {
    color: #f02579;
    font-size: 2.5rem;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

section input {
    height: 50px;
    border-radius: 50px;
    border: 2px solid #f02579;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    display: flex;
    align-self: center;
}
